<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldd.springboot.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ldd.springboot.entity.RolePermission">
        <id column="ROLE_ID" property="roleId" />
        <result column="PERM_ID" property="permId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, PERM_ID
    </sql>

    <select id="findByRoleId" resultType="com.ldd.springboot.entity.RolePermission" parameterType="Integer">
        SELECT rp.ROLE_ID, rp.PERM_ID
        FROM role_permission rp
        LEFT JOIN sys_role sr ON sr.ROLE_ID = rp.ROLE_ID
        LEFT JOIN sys_permission sp ON sp.PERM_ID = sp.PERM_ID
        WHERE rp.ROLE_ID=#{roleId}
    </select>

</mapper>
