<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldd.springboot.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ldd.springboot.entity.SysRole">
        <id column="ROLE_ID" property="roleId" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="DESCRIPTION" property="description" />
        <result column="AVAILABLE" property="available" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, ROLE_NAME, DESCRIPTION, AVAILABLE
    </sql>
    <select id="listSysRoleByRoleId" resultType="com.ldd.springboot.entity.SysRole">
      SELECT <include refid="Base_Column_List"/>
        FROM vi_user_role
      WHERE USER_ID =#{userId}
    </select>

</mapper>
