<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldd.springboot.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ldd.springboot.entity.UserRole">
        <id column="USER_ID" property="userId" />
        <result column="ROLE_ID" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, ROLE_ID
    </sql>

    <select id="findByUserId" resultType="com.ldd.springboot.entity.UserRole" parameterType="Long">
        SELECT ur.USER_ID, ur.ROLE_ID
        FROM user_role ur
        LEFT JOIN user u on u.USER_ID = ur.USER_ID
        LEFT JOIN sys_role sr ON sr.ROLE_ID = ur.ROLE_ID
        WHERE ur.USER_ID=#{userId}
    </select>

</mapper>
